@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')
	;
/* Header styles */
.header {
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	padding-top: 15px;
	padding-bottom: 10px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.weather-box {
	display: flex;
	align-items: center;
	list-style: none;
	margin-right: 30px;
	border: 1px solid black;
	padding: 10px;
	background-color: #e5e8ef;
	border-radius: 10px;
}

/* Sidebar styles */
.sidebar {
	position: fixed;
	left: 0;
	width: 260px;
	height: 100%;
	background-color: #FFFFFF;
	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
	padding: 40px 10px;
	margin-top: -60px;
}

.sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-menu-item {
	margin-top: 10px;
	margin-bottom: 10px;
}

.sidebar-menu-link i {
	margin-right: 10px;
}

.sidebar-menu-link {
	display: block;
	padding: 10px 20px;
	color: #023B6D;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.sidebar-menu-link.active {
	color: #4154f1;
	background-color: #e5e8ef;
	border-radius: 10px;
	margin: 4px;
}

.sidebar-menu-link:hover {
	color: #4154f1;
	background-color: #e5e8ef;
	border-radius: 10px;
	margin: 4px;
}

.footer {
	background-color: #f8f9fc;
	padding: 1.5rem;
	margin-top: 600px;
	margin-bottom: 0px;
	margin-left: 270px;
	margin-right: auto;
	width: auto;
}

.footer p {
	color: #6c757d;
	margin-bottom: 0;
	text-align: center;
}

.main-content {
	flex: 1;
	margin-top: 150px;
	margin-bottom: auto;
	margin-left: 320px;
	margin-right: auto;
}

/*About us*/
h1 {
	text-align: center;
	margin-top: 50px;
}

.team-members {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 50px;
}

.team-member {
	width: 300px;
	background-color: #fff;
	box-shadow: 0px 0px 10px #ccc;
	margin: 20px;
	text-align: center;
	padding: 20px;
}

.team-member img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
}

.team-member h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.team-member p {
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 1.5;
}

.team-member a {
	background-color: #0077b5;
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 20px;
	text-decoration: none;
	transition: background-color 0.2s ease;
}