@charset "ISO-8859-1";
/* Header styles */
.header {
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.logo {
	font-size: 24px;
	font-weight: 700;
	color: #333333;
}

/* Navigation styles */
.nav {
	margin-left: auto;
}

.nav-menu {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-menu li {
	margin-left: 30px;
}

.nav-link {
	font-size: 14px;
	font-weight: 500;
	color: #333333;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 4px;
}

.nav-link:hover {
	background-color: #e6e6e6;
}

/* Responsive styles */
@media ( max-width : 768px) {
	.container {
		flex-wrap: wrap;
	}
	.nav {
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		background-color: #ffffff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		padding: 20px;
		display: none;
	}
	.nav-menu {
		flex-direction: column;
		margin-top: 20px;
	}
	.nav-menu li {
		margin-left: 0;
	}
	.nav-link {
		display: block;
		padding: 10px 0;
	}
	.nav-toggle {
		position: absolute;
		top: 20px;
		right: 20px;
		display: block;
		width: 30px;
		height: 30px;
		cursor: pointer;
		background-image: url('menu-icon.png');
		background-size: cover;
	}
	.nav-open {
		display: block;
	}
}

.sidebar {
	position: fixed;
	/*top: 50;*/
	left: 0;
	width: 250px;
	height: 100%;
	background-color: #FFFFFF;
	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.sidebar-logo {
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

.sidebar-toggle {
	width: 30px;
	height: 30px;
	background-image: url('menu-icon.png');
	background-size: cover;
	cursor: pointer;
}

.sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-menu-item {
	margin-top: 10px;
	margin-bottom: 10px;
}
.sidebar-menu-link i {
  margin-right: 10px;
}

.sidebar-menu-link {
	display: block;
	padding: 10px 20px;
	color: #01508E;
	text-decoration: none;
}

.sidebar-menu-link.active {
	color: #4154f1;
	background-color: #f6f9ff;
}

.sidebar-menu-link:hover {
	color: #4154f1;
	background-color: #f6f9ff;
}