@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')
	;

/*
ORGANIZATION METHOD FOR style.css

This comment area is to list the rules we agree on to keep the style.css document
organized to our preferences. Please feel free to add points to the list.

- CSS with similar names should be placed together
- Use comment for every new section of CSS with similar names e.g. /*Style Sidebar*/
.main {
	font-family: "Courier new", "Courier", monospace;
}
/*Style header & Navbar*/
#header {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

#navbar {
	background-color: black;
	height: 60px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

#navbar li {
	margin: 0 10px;
}

#navbar a {
	display: block;
	padding: 25px 20px;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

#navbar a.active {
	color: #fff;
	background-color: #F1BC31;
	border-radius: 10px;
}

#navbar a:hover {
	color: #fff;
	background-color: #F1BC31;
	border-radius: 10px;
}

/*Style Footer*/
.footer {
	background-color: #F1BC31;
	padding: 1.5rem;
	margin-top: 10vh;
	margin-bottom: 0px;
	width: auto;
}

.footer p {
	color: #000;
	margin-bottom: 0;
	text-align: center;
}
/*Style Main*/
.main-content {
	flex: 1;
	margin-top: auto;
	margin-bottom: 40px;
	margin-left: 40px;
	margin-right: 40px;
}

/*Style Section*/
.section {
	margin-top: auto;
	margin-bottom: 60px;
	margin-left: 5px;
	margin-right: 5px;
}

.section fieldset {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-color: #000;
	border-style: solid;
	border-radius: 10px;
}

.section legend {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.left-side {
	width: 60%;
	margin: 20px 20px 20px 5px;
}

.right-side {
	border-color: #c3c3c3;
	border-style: solid;
	width: 30%;
	margin: 20px 5px 20px 0px;
	flex: 1;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	max-height: 600px;
}
/*Style Table*/
.table-container {
	height: 600px;
	overflow: auto;
	white-space: nowrap;
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

table {
	border-collapse: collapse;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

thead {
	background-color: #002b7a;
	color: #fff;
	position: sticky;
	top: 0;
}

th, td {
	text-align: left;
	padding: 12px;
}

tr:nth-child(even) {
	background-color: #f8f9fa;
}

/*Style Scrollbar*/
.table-container::-webkit-scrollbar {
	width: 10px;
	height: 6px;
	background-color: #f5f5f5;
}

.table-container::-webkit-scrollbar-thumb {
	background-color: #aaa;
	border-radius: 3px;
}

.table-container::-webkit-scrollbar-button {
	display: none;
}

/*Style Search*/
.search-form {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0px;
}

.form-group {
	display: flex;
	align-items: center;
	margin-bottom: 0;
	margin-left: 15px;
	margin-right: 15px;
}

.form-control {
	width: 100%;
	margin: 5px;
	border-radius: 10px;
	border: 1px solid #c3c3c3;
	font-size: 16px;
	padding: 10px;
}

.btn {
	min-width: 80px;
	padding: 12px 12px 12px 12px;
	margin: 5px;
	font-size: 16px;
	color: #fff;
	background-color: #002b7a;
	border-radius: 10px;
	border: none;
	color: white;
	font-family: 'Roboto', sans-serif;
	line-height: 16px;
	cursor: pointer;
	background-color: #002b7a;
}

.btn:hover {
	color: #fff;
	background-color: #F1BC31;
}

/*Style Insert-data*/
.insert-form {
	padding: 20px 20px;
}

.insert-form form {
	background-color: #fff;
	margin: 0px;
	padding: 10px 15px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.insert-form .item {
	border-radius: 20px;
	margin-bottom: 25px;
	padding: 10px 20px;
}

.insert-form select {
	width: 100%;
	border-radius: 20px;
	margin-bottom: 25px;
	padding: 10px 20px;
}

.button-container {
	display: block;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

.error-label-employee {
	color: black;
	font-size: 18px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.error-label-customer {
	color: black;
	font-size: 18px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.error-label-purchase {
	color: black;
	font-size: 18px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

